<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Plotter</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="navbar">
        <h1>Data Plotter</h1>
    </div>
    <div class="form-upload">
        <h1>Upload The File</h1>
        <form action="/process" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file" required>
            <label for="column">Enter Column Number:</label>
            <input type="text" name="column" id="column" required>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="output">
    </div>

    <script>
        const fileInput = document.getElementById('file');
        fileInput.addEventListener('change', function () {
            const fileName = fileInput.files[0].name;
            const filenameElement = document.querySelector('.filename');
            filenameElement.textContent = fileName;
        });
    </script>
</body>
</html>
